<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="scripts/enmasse-ui.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="styles/enmasse-ui.css">
    <script type="text/html" id="job-cell">
		<div class="sidebar-cell job">
			<div class="job-id">#<%= id %></div>
			<div class="job-title"><%= title %></div>
		</div>
    </script>
    <script type="text/html" id="job-add">
		<div class="sidebar-cell">
			<div class="job-add"> + </div>
		</div>
    </script>

</head>
<body>
	<div id="sidebar">
		<div id="header">
			enmasse
		</div>
		<div id="sidebar-label">
			jobs
		</div>
		<div class="sidebar-cell job">
			<div class="job-id">#4930</div>
			<div class="job-title">word count</div>
		</div>
		<div class="sidebar-cell job">
			<div class="job-id">#4931</div>
			<div class="job-title">weather job</div>
		</div>
		<div class="sidebar-cell job">
			<div class="job-id">#102</div>
			<div class="job-title">rosie stuff</div>
		</div>
		<div class="sidebar-cell">
			<div class="job-add"> + </div>
		</div>
	</div>
	<div id="content">
		<div class="content-box">
			<div class="content-header">status: <span class="status-complete">complete</span></div>
			<div class="content-body">
				<ul>
					<li><span class="status-title">started:</span> Sept. 27, 9:56pm</li>
					<li><span class="status-title">percentage done:</span> 57%</li>
					<li><span class="status-title">estimated finish time:</span> Sept. 27, 9:58pm</li>
				</ul>
			</div>
		</div>
		<div class="content-box">
			<div class="content-header">results</div>
			<div class="content-body">
				download here
			</div>
		</div>
	</div>
</body>
</html>
