<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script type="text/html" id="job-cell">
		<div class="job-id">#<%= id %></div>
		<div class="job-title"><%= title %></div>
    </script>
    <script type="text/html" id="job-add">
		<div class="job-add"> + </div>
    </script>
    <script type="text/html" id="job-detail">
    	<div class="task-name">
    		#<%= id %>: <%= name %>
    	</div>
		<div class="content-box">
			<div class="content-header">status</div>
			<div class="content-body">
				<ul>
					<li><span class="status-title">started:</span><%= createdAt %></li>
					<li><span class="status-title">percentage done:</span><%= progress %></li>
					<li><span class="status-title">current phase:</span><%= phase %></li>
				</ul>
			</div>
		</div>
		<div class="content-box">
			<div class="content-header">results</div>
			<div class="content-body">
				download here
			</div>
		</div>
    </script>
    <script type="text/html" id="home-template">
        <div class="content-box">
            <div class="content-header">dashboard</div>
            <div class="content-body">
                Welcome to the enmasse dashboard!
            </div>
        </div>
    </script>
    <script type="text/html" id="job-create">
        <div class="content-box">
            <div class="content-header">create</div>
            <div class="content-body">
                <input class="job-name" type="text" placeholder="job name" />
                <h3>map code</h3>
                <div id="map-editor">function map(key, value, context) { &NewLine;&NewLine;}</div>
                <h3>reduce code</h3>
                <div id="reduce-editor">function reduce(key, value, context) { &NewLine;&NewLine;}</div>
                <p>
                <input class="job-dataloc" type="text" placeholder="data location" />
                <input class="create-job-button" type="button" value="create" />
                </p>
            </div>
        </div>
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/bower.js"></script>
    <script type="text/javascript" src="scripts/models/tracker.js"></script>
    <script type="text/javascript" src="scripts/models/job.js"></script>
    <script type="text/javascript" src="scripts/collections/jobs.js"></script>
    <script type="text/javascript" src="scripts/views/job_tile.js"></script>
    <script type="text/javascript" src="scripts/views/create_tile.js"></script>
    <script type="text/javascript" src="scripts/views/job_overview.js"></script>
    <script type="text/javascript" src="scripts/views/job_create.js"></script>
    <script type="text/javascript" src="scripts/views/job_detail.js"></script>
    <script type="text/javascript" src="scripts/views/home.js"></script>
    <script type="text/javascript" src="scripts/routers/router.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>


    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="styles/enmasse-ui.css">
</head>
<body>
	<div id="header">
		&nbsp;
	</div>
</body>
</html>
